[package]
name = "rocket-etagged-raw-response"
version = "0.9.2"
authors = ["Magic Len <len@magiclen.org>"]
repository = "https://github.com/magiclen/rocket-etagged-raw-response"
homepage = "https://magiclen.org/rocket-etagged-raw-response"
keywords = ["rocket", "server", "web", "response", "etag"]
categories = ["web-programming"]
description= "This crate provides a response struct used for responding raw data with **Etag** cache."
readme = "README.md"
license = "MIT"

[badges]
travis-ci = { repository = "magiclen/rocket-etagged-raw-response", branch = "master" }

[dependencies]
derivative = "1"
rocket = "0.4.2"
mime = "0.3.12"
mime_guess = " 2.0.0-alpha.6"
percent-encoding = "1.0.1"
crc-any = "2"
lru_time_cache = "0.9"

rocket-etag-if-none-match = "0.3"